<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Formulario Motorista</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Cadastrar Motorista</h1>
    <form th:action="@{/motorista}" method="post" th:object="${motorista}">

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="cpf">CNH:</label>
        <input type="text" id="cpf" name="cpf" required><br><br>

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone"><br><br>

        <label for="veiculo">Veículo:</label>
        <input type="text" id="veiculo" name="veiculo"><br><br>

        <button type="submit">Salvar</button>
    </form>
    <a href="/">Home</a>
</body>
</html>
