<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Formulario Aplicativo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Cadastrar Aplicativo</h1>
    <form th:action="@{/aplicativo}" method="post" th:object="${aplicativo}">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="versao">Versão:</label>
        <input type="text" id="versao" name="versao"><br><br>

        <label for="lista-motorista">Lista de Motorista:</label>
        <input type="text" id="lista-motorista" name="lista-motorista"><br><br>

        <label for="lista-corrida">Lista de Corrida:</label>
        <input type="text" id="lista-corrida" name="lista-corrida"><br><br>

        <button type="submit">Salvar</button>
    </form>
    <a href="/">Home</a>
</body>
</html>
