<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Aplicativo de Transporte</h1>
    <nav>
        <ul>
            <li><a href="/motorista/novo">Cadastrar Motorista</a></li>
            <li><a href="/aplicativo/novo">Cadastrar Aplicativo</a></li>
            <li><a href="/corrida/novo">Cadastrar Corrida</a></li>
            <li><a href="/motorista">Lista de Motoristas</a></li>
            <li><a href="/aplicativo">Lista de Aplicativos</a></li>
            <li><a href="/corrida">Lista de Corridas</a></li>
        </ul>
    </nav>
</body>
</html>
