<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Aplicativo de Transporte</h1>
    <nav>
        <ul>
            <li><a href="Form_Motorista.html">Cadastrar Motorista</a></li>
            <li><a href="Form_Aplicativo.html">Cadastrar Aplicativo</a></li>
            <li><a href="Form_Corrida.html">Cadastrar Corrida</a></li>
            <li><a href="Lista_Motorista.html">Lista de Motoristas</a></li>
            <li><a href="Lista_Aplicativo.html">Lista de Aplicativos</a></li>
            <li><a href="Lista_Corrida.html">Lista de Corridas</a></li>
        </ul>
    </nav>
</body>
</html>
