<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Lista de Motoristas</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Lista de Motoristas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CNH</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            <!-- Linhas preenchidas dinamicamente -->
        </tbody>
    </table>
    <a href="/motorista/novo">Cadastrar Novo Motorista</a> 
    <br>
    <a href="/">Home</a>
</body>
</html>
